<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/header :: header">
    <title>Manage Orders</title>
</head>

<body>

<div class=container>

    <h1 class="jumbotron">
        Manage orders here
    </h1>

    <section class="container content-section">
        <div th:each="order : ${paginationOrders}">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                 orders here ....
                </div>
            </div>
        </div>
    </section>
</div>


<footer>
    <div class=footer_links>
        <div th:replace="/fragments/footer :: footer"/>
    </div>
</footer>

</body>

</html>