<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
</head>

<body>

<div th:fragment="footer">
    <footer>
        <div class=footer_links>
            <ul>
                <li><a class="white_link" href="../about/index.html" th:href="@{/about}">About</a></li>
                <div class="circle"></div>
                <li><a class="white_link" href="../community/index.html" th:href="@{/community}">Community</a></li>
                <div class="circle"></div>
                <li><a class="white_link" href="../press/press.html" th:href="@{/press}">Press</a></li>

            </ul>

        </div>
        <div class=socialmedia>
            <a href="https://www.twitter.com/GroceryNile/?hl=en">
                <i id=social class="fab fa-twitter-square fa-3x" style="color:#000000;"></i></a>
            <a href="https://www.instagram.com/nilegrocery/?hl=en">
                <i id=social class="fab fa-instagram fa-3x" style="color:#000000;"></i></a>
            <a href="https://www.facebook.com/pages/category/Cafe/Nile-Grocery-Cafe-1200226006660902/">
                <i id=social class="fab fa-facebook-square fa-3x" style="color:#000000;"></i>
            </a>
        </div>
        <div class=footer_words>
            <h2>Connect with us to hear more about menu items, events, and updates!</h2>
            <h3>The Nile Grocery and Ethiopian Restaurant</h3>
            <p class="copyright"> &copy Copyright 2022</p>
        </div>
    </footer>
</div>

</body>
</html>