<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <title>Menu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/styles-menu.css" th:href="@{/css/stylesmenu.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/stylesfood.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>

<body>
    <div class=grid-layout>

        <header>
            <div class="logo">
                <a th:href="@{/}">
                    <img class="logo_image" th:src="@{/images/nile_logo.png}" alt="nile Logo">
                </a>
            </div>
            <div class="nav-menu">
                <ul>
                    <li><a href="../index.html" th:href= "@{/}" title="Home page">Home</a></li>
                    <li><a href="../menu/index.html" th:href= "@{/menu}" title="Menu page">Menus</a></li>
                    <li><a href="../order/index.html" th:href= "@{/foodList}" title="order page">Order Here</a></li>
                    <li><a href="../contact/contact1.html" th:href= "@{/contact}" title="contact page">Contact</a></li>

                </ul>
            </div>
            <a class="clickable" href="../mobilemenu/index.html">
                <img th:src="@{/images/three_lines.png}">
            </a>
        </header>


        <main>
            <img class="menuphoto" th:src="@{/imgMenu/menu2.jpg}">
            <img class="aps" th:src="@{/imgMenu/appetizers.gif}">
            <img class="entrees" th:src="@{/imgMenu/maindish.gif}">
            <img class="desserts" th:src="@{/imgMenu/dessert.gif}">
        </main>

        <footer id="footer">
            <div class=footer_links>
                <div th:replace="/fragments/footer :: footer"/>
            </div>
        </footer>
    </div>
    <script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
</body>

</html>