<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account Info</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/stylesfood.css}">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>

<body>
<div id="gridacc">
<div id="acc-cont">
<th:block th:include="/fragments/header2"></th:block>
<!--<th:block th:include="/fragments/_menu"></th:block>-->

<div class="acc-title">Account Info</div>
<div class="account-container">
    <ul>
        <li>User Name: <span th:utext="${#request.userPrincipal.name}"></span></li>
        <li>
            Role:
            <ul>
                <li th:each="auth : ${userDetails.authorities}" th:utext="${auth.authority}"></li>
            </ul>
        </li>
    </ul>
</div>
</div>
<footer id="footer">
    <div class=footer_links>
        <div th:replace="/fragments/footer :: footer"/>
    </div>
</footer>
</div>
</body>
</html>