<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8">
    <title>Nile Grocery and Restaurant </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/SlickNav/1.0.10/slicknav.min.css">

    <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css" />

    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>

<body>
<div class=grid-layout>

    <header>
        <div class="logo">
            <a th:href="@{/}">
                <img class="logo_image" th:src="@{/images/nile_logo.png}" alt="nile Logo">
            </a>
        </div>
        <div class="nav-menu">
            <ul>
                <li><a href="../index.html" th:href= "@{/}" title="Home page">Home</a></li>
                <li><a href="../menu/index.html" th:href= "@{/menu}" title="Menu page">Menu</a></li>
                <li><a th:href="@{/foodList}" title="foodlist page">Order Here</a></li>
                <li><a th:href="@{/shoppingCart}" title="foodlist page">My Cart</a></li>
                <li><a href="../contact/contact1.html" th:href= "@{/contact}" title="contact page">Contact</a></li>
                <li><a style="color: darkred; font-weight: bold" th:href="@{/admin/login}" title="contact page">Admin Login</a></li>
            </ul>
        </div>

    </header>


    <div class="main">

        <div class="wrapper a"></div>
    </div>
    <div class="button_box">
        <a class="order_button" th:href= "@{/foodList}" >
            <img th:src="@{/images/ordermesob.png}">
        </a>
        <a class="menu_button" href="menu/index.html" th:href="@{/menu}">
            <img th:src="@{/images/mesobmenu.png}">
        </a>
        <a class="hours_button" href="contact/contact1.html" th:href="@{/contact}">
            <img th:src="@{images/contact.png}">
        </a>

        <a href="foodList.html" th:href= "@{/foodList}">
            <h1 class="order_name">Order Here</h1>
        </a>
        <a href="menu/index.html" th:href= "@{/menu}">
            <h1 class="menu_name">Menu</h1>
        </a>
        <a href="contact/contact1.html" th:href= "@{/contact}">
            <h1 class="hour_name">Contact</h1>
        </a>
    </div>

    <div class="new_menu">
        <h1>Nile's Specials</h1>
    </div>



    <div class="new_menu_gallery">
        <div class="slideshow-container">

            <!-- Full-width images with number and caption text -->
            <div  id="hidden" class="mySlides fade">
                <div class="numbertext">1/3</div>
                <img class="photo" th:src="@{/images/bottomslide1.png}" style="width:100%">
            </div>

            <div id="hidden" class="mySlides fade">
                <div class="numbertext">2/3</div>
                <img class="photo" th:src="@{/images/bottomslide2.png}" style="width:100%">
            </div>

            <div id="hidden" class="mySlides fade">
                <div class="numbertext">3/3</div>
                <img class="photo" th:src="@{/images/bottomslide3.png}" style="width:100%">
            </div>

            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>
        </div>
        <br>

<!--         The dots/circles -->
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>
    </div>

    <footer>
        <div class=footer_links>
            <div th:replace="/fragments/footer :: footer"/>
        </div>
    </footer>
</div>

<script>
    let slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        let i;
        const slides = document.getElementsByClassName("mySlides");
        const dots = document.getElementsByClassName("dot");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
    }
</script>

<script src="../../static/js/script.js" th:src="@{/js/script.js}"></script>
</body>

</html>