<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/stylesfood.css}">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body>
<div id="orderinfo-all">
    <div id="orderinfo-cont">
<th:block th:include="/fragments/header2"></th:block>
<!--<th:block th:include="/_menu"></th:block>-->

<div class="orderinfo-title">Order Info</div>

<div class="customer-info-container">
    <h3>Customer Information:</h3>
    <ul>
        <li>Name: <span th:utext="${orderInfo.customerName}"></span></li>
        <li>Email: <span th:utext="${orderInfo.customerEmail}"></span></li>
        <li>Phone: <span th:utext="${orderInfo.customerPhone}"></span></li>
        <li>Address: <span th:utext="${orderInfo.customerAddress}"></span></li>
    </ul>
    <h3>Order Summary:</h3>
    <ul>
        <li>Total:
            <span class="total" th:utext="${#numbers.formatDecimal(orderInfo.amount,1,2,'COMMA')}">
               </span>
        </li>
    </ul>
</div>
<br/>
<table border="1" style="width:100%">
    <tr>
        <th>Food Code</th>
        <th>food Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Amount</th>
    </tr>
    <tr th:each="orderDetailInfo : ${orderInfo.details}">
        <td th:utext="${orderDetailInfo.foodCode}"></td>
        <td th:utext="${orderDetailInfo.foodName}"></td>
        <td th:utext="${orderDetailInfo.quanity}"></td>
        <td th:utext="${#numbers.formatDecimal(orderDetailInfo.price,1,2,'COMMA')}"></td>
        <td th:utext="${#numbers.formatDecimal(orderDetailInfo.amount,1,2,'COMMA')}"></td>
    </tr>
</table>
    </div>
<footer id="footer">
    <div class=footer_links>
        <div th:replace="/fragments/footer :: footer"/>
    </div>
</footer>
</div>
</body>
</html>